
body {
  font-family: "Avenir", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}

#title {
  text-align: center;
}

#enable {
  /* avoid an excessively wide status text */
  /*white-space: pre;*/
  text-overflow: ellipsis;
  overflow: hidden;
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
}